<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <h1>TO DO WEEK LIST</h1>
    </nav>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="TO DO" name="todo">
        <select name="day">
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
        </select>
        <button>Submit</button>
    </form>

    <section class="monday weekday">
        <h1>Monday</h1>
        <ul>
            <% for (let i = 0; i < info.length; i++) { %>
                <% if (info[i].day === 'Monday' && info[i].complete === true) {%>
                    <li>
                        <span class="todo Monday complete" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } else if (info[i].day === 'Monday') { %>
                    <li>
                        <span class="todo Monday" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } %>
            <% } %>
        </ul>    
    </section>

    <section class="tuesday weekday">
        <h1>Tuesday</h1>
        <ul>
            <% for (let i = 0; i < info.length; i++) { %>
                <% if (info[i].day === 'Tuesday' && info[i].complete === true) {%>
                    <li>
                        <span class="todo Tuesday complete" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } else if (info[i].day === 'Tuesday') { %>
                    <li>
                        <span class="todo Tuesday" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } %>
            <% } %>
        </ul>   
        </section>

    <section class="wednesday weekday">
        <h1>Wednesday</h1>
        <ul>
            <% for (let i = 0; i < info.length; i++) { %>
                <% if (info[i].day === 'Wednesday' && info[i].complete === true) {%>
                    <li>
                        <span class="todo Wednesday complete" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } else if (info[i].day === 'Wednesday') { %>
                    <li>
                        <span class="todo Wednesday" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } %>
            <% } %>
        </ul>   
    </section>

    <section class="thursday weekday">
        <h1>Thursday</h1>
        <ul>
            <% for (let i = 0; i < info.length; i++) { %>
                <% if (info[i].day === 'Thursday' && info[i].complete === true) {%>
                    <li>
                        <span class="todo Thursday complete" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } else if (info[i].day === 'Thursday') { %>
                    <li>
                        <span class="todo Thursday" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } %>
            <% } %>
        </ul>   
    </section>

    <section class="friday weekday">
        <h1>Friday</h1>
        <ul>
            <% for (let i = 0; i < info.length; i++) { %>
                <% if (info[i].day === 'Friday' && info[i].complete === true) {%>
                    <li>
                        <span class="todo Friday complete" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } else if (info[i].day === 'Friday') { %>
                    <li>
                        <span class="todo Friday" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </section>

    <section class="saturday weekend">
        <h1>Saturday</h1>
        <ul>
            <% for (let i = 0; i < info.length; i++) { %>
                <% if (info[i].day === 'Saturday' && info[i].complete === true) {%>
                    <li>
                        <span class="todo Saturday complete" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } else if (info[i].day === 'Saturday') { %>
                    <li>
                        <span class="todo Saturday" data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } %>
            <% } %>
        </ul>   
    </section>

    <section class="sunday weekend">
        <h1>Sunday</h1>
        <ul>
            <% for (let i = 0; i < info.length; i++) { %>
                <% if (info[i].day === 'Sunday' && info[i].complete === true) {%>
                    <li>
                        <span class="todo Sunday complete data-id="<%= info[i]._id %>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } else if (info[i].day === 'Sunday') { %>
                    <li>
                        <span class="todo Sunday" data-id="<%= info[i]._id%>"><%= info[i].todo %></span>
                        <span class="delete" data-id="<%= info[i]._id %>">delete</span>
                    </li>
                <% } %>
            <% } %>   
        </ul>
    </section>
        
    <script src="js/main.js"></script>
</body>
</html>