<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Week</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <h1 class="title">TO DO WEEK LIST</h1>
    </nav>

    <section class="form">
        <form action="/todoWeek/createTodo" method="POST">
            <input type="text" placeholder="TO DO" name="todo">
            <select name="day">
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
                <option>Sunday</option>
            </select>
            <button>Submit</button>
        </form>
    </section>

    <section class="weekday days">
        <h1 class="day gold">Monday</h1>
        <ul class="gold">
            <% for (let i = 0; i < todos.length; i++) { %>
                <% if (todos[i].day === 'Monday' && todos[i].completed === true) {%>
                    <li class="gold">
                        <span class="complete" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete gold" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } else if (todos[i].day === 'Monday') { %>
                    <li class="gold">
                        <span class="not" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete gold" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } %>
            <% } %>
        </ul>    
    </section>

    <section class="weekday days">
        <h1 class="day blue">Tuesday</h1>
        <ul class="blue">
            <% for (let i = 0; i < todos.length; i++) { %>
                <% if (todos[i].day === 'Tuesday' && todos[i].completed === true) {%>
                    <li class="blue">
                        <span class="complete" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete blue" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } else if (todos[i].day === 'Tuesday') { %>
                    <li class="blue">
                        <span class="not" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete blue" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } %>
            <% } %>
        </ul>   
        </section>

    <section class="weekday days">
        <h1 class="day gold">Wednesday</h1>
        <ul class="gold">
            <% for (let i = 0; i < todos.length; i++) { %>
                <% if (todos[i].day === 'Wednesday' && todos[i].completed === true) {%>
                    <li class="gold">
                        <span class="complete" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete gold" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } else if (todos[i].day === 'Wednesday') { %>
                    <li class="gold">
                        <span class="not" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete gold" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } %>
            <% } %>
        </ul>   
    </section>

    <section class="weekday days">
        <h1 class="day blue">Thursday</h1>
        <ul class="blue">
            <% for (let i = 0; i < todos.length; i++) { %>
                <% if (todos[i].day === 'Thursday' && todos[i].completed === true) {%>
                    <li class="blue">
                        <span class="complete" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete blue" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } else if (todos[i].day === 'Thursday') { %>
                    <li class="blue">
                        <span class="not" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete blue" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } %>
            <% } %>
        </ul>   
    </section>

    <section class="weekday days">
        <h1 class="day gold">Friday</h1>
        <ul class="gold">
            <% for (let i = 0; i < todos.length; i++) { %>
                <% if (todos[i].day === 'Friday' && todos[i].completed === true) {%>
                    <li class="gold">
                        <span class="complete" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete gold" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } else if (todos[i].day === 'Friday') { %>
                    <li class="gold">
                        <span class="not" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete gold" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </section>

    <section class="weekend days">
        <h1 class="day blue">Saturday</h1>
        <ul class="blue">
            <% for (let i = 0; i < todos.length; i++) { %>
                <% if (todos[i].day === 'Saturday' && todos[i].completed === true) {%>
                    <li class="blue">
                        <span class="complete" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete blue" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } else if (todos[i].day === 'Saturday') { %>
                    <li class="blue">
                        <span class="not" data-id="<%= todos[i]._id %>"><%= todos[i].todo %></span>
                        <span class="delete blue" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } %>
            <% } %>
        </ul>   
    </section>

    <section class="sunday weekend days">
        <h1 class="day gold">Sunday</h1>
        <ul class="gold">
            <% for (let i = 0; i < todos.length; i++) { %>
                <% if (todos[i].day === 'Sunday' && todos[i].completed === true) {%>
                    <li class="gold">
                        <span class="complete" data-id="<%= todos[i]._id%>"><%= todos[i].todo %></span>
                        <span class="delete gold" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } else if (todos[i].day === 'Sunday') { %>
                    <li class="gold">
                        <span class="not" data-id="<%= todos[i]._id%>"><%= todos[i].todo %></span>
                        <span class="delete gold" data-id="<%= todos[i]._id %>"><i class="fa-solid fa-delete-left"></i></span>
                    </li>
                <% } %>
            <% } %>   
        </ul>
    </section>
        
    <script src="js/main.js"></script>
</body>
</html>